

<div>

    <h3>
        <strong>
            Retail Inventory Management System
        </strong>
    </h3>
    <p>Retail Inventory Management System Is a simple and effective way to manage orders and inventory for your retail business. If you plan to start or already have an existing retail business, where you will buy products from your suppliers and then sell them to customers with a margin, then you would need a tool to track your business in an effective way.</p>

    <h3 class="lead">Basic features</h3>
    <ul>
        <li>Purchase orders</li>
        <li>Sale orders</li>
        <li>Invoicing</li>
        <li>Inject Cash</li>
        <li>Accept Payments</li>
        <li>
            Dashboard and Reports to track the following:
            <ul>
                <li>What is the current inventory level?</li>
                <li>When to order?</li>
                <li>Which product to order?</li>
                <li>Are we profitable?</li>
                <li>How much available cash?</li>
                <li>Cash flow</li>
            </ul>
        </li>
    </ul>
    <div>
        <h3>
            <strong>Sample screen shot</strong>
        </h3>
        <h4 style="margin-top:20px">
            <strong>Dashboard</strong>
        </h4>
        <img src="~/Content/Images/Dashboard.jpg" style="border:solid; border-width:1px;"/>
        <h4 style="margin-top:20px">
            <strong>Order List</strong>
        </h4>
        <img src="~/Content/Images/OrderList.jpg" style="border:solid; border-width:1px" />
        <h4 style="margin-top:20px">
            <strong>Receiving Payment</strong>
        </h4>
        <img src="~/Content/Images/RecievePayment.jpg" style="border:solid; border-width:1px" />
        <h4 style="margin-top:20px">
            <strong>Invoicing</strong>
        </h4>
        <img src="~/Content/Images/Invoicing.jpg" style="border:solid; border-width:1px" />
        <h4 style="margin-top:20px">
            <strong>Sample Reports</strong>
        </h4>
        <img src="~/Content/Images/SaleVsPurchase.jpg" style="border:solid; border-width:1px" />
    </div>
    <div class="jumbotron" style="margin-top:20px">
        <h1>SIGN UP FOR FREE</h1>
    </div>

</div>
